body { text-align: center; 
	background-color: #603f25;
	font-family: helvetica, verdana;
	}
	
header { text-align: center;
	background-color: #f6e17e;
	color: #cc3226;
	font-size: 40pt;
	font-family: arial, courier;
	height: 60px;
	border: 5px double #edce70;
	}

#container { background-color: #785635; 
	max-width: 100%;
	padding: 20px;
	border: 2.5px dashed #563821;
	}
	
a { text-decoration: none; 
	font-family: helvetica, verdana;
	color: #cc3226;
	font-size: 14pt;
	}

a:hover { background-color: #59412e;
	text-decoration: underline overline;
	}

a:active { box-shadow: 0 0 25px 5px #603f25; }

a:visited { color: #a3281e; }

nav { padding: 5px;
	background-color: #f6e17e;
	color: #cc3226;
	border: 2.5px solid #edce70; 
	}
	
nav ul { list-style-type: none; }

nav li { display: inline;	
	padding-left: 44px;
	margin-right: 74px;
	padding-bottom: 0;
	}

#content { background-color: #966c43;
	border: 5px solid #87613c;
	}

h1, h2 { font-family: helvetica, verdana; }

/*Used to center the list on the webpage*/
ol.center { display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 50px;
	}

/*Used to center the list on the webpage*/
ol.center1 { display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 20px;
	}

/*Used to center the list on the webpage*/
ol.center2 { display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 100px;
	}

li {padding-bottom: 10px} 

/*li.spacing, li.spacing1, and li.spacing2 are used to align each text in the <li> tags on the webpage*/
li.spacing { padding-right: 153px; }

li.spacing1 { padding-right: 172px; }

li.spacing2 { padding-right: 179px; }

li.spacing3 { padding-right: 170px; }

li.spacing4 { padding-right: 66px; }

li.spacing5 { padding-right: 183px; }

li.spacing6 { padding-right: 127px; }

li.spacing7 { padding-right: 100px; }

li.spacing8 { padding-right: 223px; }

li.spacing10 { padding-right: 53px; }

li.spacing11 { padding-right: 172px; }

li.spacing12 { padding-right: 23px; }

li.spacing13 { padding-right: 170px; }

li.spacing14 { padding-right: 160px; }


footer { background-color: #f6e17e;
	border: 2.5px solid #edce70; 
	text-align: center;
	font-family: helvetica, verdana;
	padding: 20px;
	color: #cc3226; 
	}