body { text-align: center; 
	background-color: #603f25;
	font-family: ocr a std, monospace;
	}
	
header { text-align: center;
	background-color: #f0e68c;
	color: #cc3226;
	font-size: 40pt;
	font-family: ocr a std, monospace;
	height: 60px;
	border: 5px double #edce70;
	}

#container { background-color: #856649; 
	max-width: 100%;
	padding: 20px;
	border: 2.5px dashed #563821;
	}
	
a { text-decoration: none; 
	font-family: ocr a std, monospace;
	color: #cc3226;
	font-size: 14pt;
	}

a:hover { background-color: #59412e;
	text-decoration: underline overline;
	}

a:active { box-shadow: 0 0 25px 5px #603f25; }

a:visited { color: #a3281e; }

nav { padding: 5px;
	background-color: #f0e68c;
	color: #cc3226;
	border: 2.5px solid #edce70; 
	}
	
nav ul { list-style-type: none; }

nav li { display: inline;	
	padding-left: 64px;
	margin-right: 94px;
	padding-bottom: 0;
	}
	
a.special { color: #000; 
	text-decoration: none;
	font-size: 12pt;
	}
	
a.special:hover { background-color: #f6e17e;
	text-decoration: overline;
	font-weight: bold;
	}

#content { background-color: #a07a55;
	border: 5px solid #87613c;
	}

h2 { font-family: ocr a std, monospace; }

	/*Used to center the list on the webpage*/
ol.center { display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 62px;
	}

/*Used to center the list on the webpage*/
ol.center1 { display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 95px;
	}

/*Used to center the list on the webpage*/
ol.center2 { display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 230px;
	}

li {padding-bottom: 10px;} 

/*li.spacing, li.spacing1, and li.spacing2 are used to align each text in the <li> tags on the webpage*/
li.spacing { padding-right: 170px; }

li.spacing1 { padding-right: 215px; }

li.spacing2 { padding-right: 213px; }

li.spacing3 { padding-right: 222px; }

li.spacing4 { padding-right: 55px; }

li.spacing5 { padding-right: 122px; }

li.spacing6 { padding-right: 105px; }

li.spacing7 { padding-right: 282px; }

li.spacing8 { padding-right: 0px; }

li.spacing9 { padding-right: 62px; }

li.spacing10 { padding-right: 211px; }

li.spacing11 { padding-right: 18px; }

li.spacing12 { padding-right: 220px; }

li.spacing13 { padding-right: 194px; }

footer { background-color: #f0e68c;
	border: 2.5px solid #edce70; 
	text-align: center;
	font-family: ocr a std, monospace;
	padding: 20px;
	color: #cc3226; 
	}