.imageRow {
  display:grid;
  grid-template-columns:300px 300px 300px;
  justify-content:center;
}


.active:after {
  content: "\2212";
}

 body{
	  background: linear-gradient(rgba(98, 173, 108, 0.6), rgba(141, 153, 174, 0.5));
              
 }

.imageRow .single a {
  float: left;
  display: block;
  background-color:#004e90;
  padding: 7px;
  line-height: 0;
  margin-right: 40px;
  margin-bottom:40px;
}

.imageRow .single a:hover {
  background-color: #8ad459;
}